body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.quadrado{
   
    
    width:200px;
    height:200px;
    background-color: aqua;
    animation-name: example;
    animation-duration: 4s;
}
.quadrado:hover{
      background-color: brown;
}

