body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.cicle{
    background: lightblue;
    border-radius: 50%;
    width: 200px;
 
    
}
.cicle:hover{
    background-color: rgb(7, 226, 226);
    transform: scale(1.5);
    transition: .9s;
    height: 500px;

}
