body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.quadrado{
   
    
    width:200px;
    height:200px;
    background-color: rgb(0, 0, 0);
    animation-name: example;
    animation-duration: 4s;
}